.top-back{
    background-color: rgb(1, 13, 49);
    background-image: url(https://gible-nft.hibootstrap.com/images/home-one/bg-shape.png) ;
    background-repeat: no-repeat;
    background-position:center
}