.card-liveee{
    width: 25rem;
}
@media only screen and (max-width: 400px){
  .card-liveee{
    width: 100%;
}
.eend{
  position: absolute;
  /* left: 80px;
  top: 15px; */
}
}
.card-live-content {
    position: absolute;
padding: 9px;
bottom: 20%;
left: 20px;
right: 20px;
z-index: 1;
background-color: #967e93d4;
display: flex;
align-items: center;
justify-content: space-between;
color: white;
border-radius: 6px;
}
.radius-border{
    border-radius: 50%;
    width: 72%;
    height: 54px;
}
.position-take{
    position: absolute;
    bottom: 36px;
    left: 54px;
    font-size: 20px;
    color: #8d99ff;
}

.eend{
  position: absolute;
  right: 16px;
  bottom: 15px;
}
.danger-radius{
    border-radius: 50%;
    border: none;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top:27%;
    left: -15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  
  
  .card-liveee:hover .middle {
    opacity: 1;
  }
  .card-liveee:hover .red-color{
    color: #f14d5d;
    transition: 1s;
  }
  .text {
    background-color:#f14d5d;
    color: white;
    width: max-content;
    border: none;
    border-radius: 3px;
    padding: 10px;
  }
 