.pip{
    box-shadow: inset 0 0 20px #133f75;
    background: #071b36!important;
    color: white;
    border-radius: 8px;
    padding: 10px !important;
}
.dropdown-menu{
    background: #071b36!important;
    border: 1px solid white;
   border-radius: 16px;
}
.dropdown-menu a:hover{
    background: #071b36!important;
   
}
.bbb1{
    border-bottom: 1px solid white;
}


@media only screen and (max-width:600px){
    .res_fss{
        font-size: 14px !important;
    }
}