.card-flex-c{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.heading-brower-1{
    font-size: 5pc;
}


.colecction_paddddding{
    padding: 100px 0px;
}
@media only screen and (max-width: 400px){

    .card-flex-c{
        display: grid;
        grid-template-columns: 1fr ;
    
    }
    .heading-brower-1{
        font-size: 2pc;
    }
}
@media only screen and (min-width: 400px) and (max-width: 900px){
    .card-flex-c{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    
    }
    .heading-brower-1{
        font-size: 3pc;
    }
}