.T-img1{
    border-radius: 12px;
}
.ggggg{
    position: absolute;
    background-color: white;
    border-radius: 50pc;
    top: 25px;
    left: 21px;
    height: 46px;
}
.dddd{
    border-radius: 50%;
    
}
.trending_headingggggggg{
    text-align: center !important;
}
.hover-train:hover{
    color:#f14d5d ;
    transition: 1s;
}
.T-border{
    border: 0px solid white;
    /* filter: blur(5) !important; */
    backdrop-filter: blur(25px);
    color: white;
    width: 90%;
    margin: auto;
    padding: 17px;
    position: absolute;
    bottom: 27%;
    left: 18px;
    border-radius: 5px;
    z-index: 1;
    background-color: rgb(76 66 228 / 40%);
}